<div class="container">
  <div class="card mt-3 mb-3 col-md-6 offset-md-3">
    <div class="card-body">
      <div class="row justify-content-md-center">
        <h1 class="row justify-content-md-center">Create New Role</h1>
        <form [formGroup]="roleForm" class="row justify-content-md-center">

          <div class="form-group col-md-7 mb-3">
            <label for="inputUserName">Role Name <span class="text-danger">*</span></label>
            <input
              type="text"
              class="form-control"
              id="inputRoleName"
              placeholder="Software Developer"
              formControlName="roleName"
            />
          </div>
         

          <div class="modal-footer">
            <button
              type="button"
              id="close-emp"
              class="btn btn-primary"
             (click)="addNewRole()"
            >
              Submit!
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
